

/* =Structure
----------------------------------------------- */

#bodywrapper {
	/* Better CSS fallback */
	background-color: #eef0f2;	/* Close enough */
	background-repeat:repeat;
	background-image: url(http://i.imgur.com/FV2MV.png);
	padding: 0 0 50px;
	margin: 0;
}
#topwrapper {}

#logobox {
	width: 978px;
	margin: 0 auto;
	background: url(http://i.imgur.com/dqudD.png);
}
#logo {
	display: block;
	padding: 30px 0 20px;
	margin: 0 0 0 15px;
	color: #000;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(206, 83, 51, .85);
	text-transform: uppercase;
}

#page {
	margin: 0 auto;
	max-width: 978px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow:0 1px 3px rgba(0,0,0,.35);
	background-color: #fff;
}

div.animeblock {	/* Nah, forget about it. */
	-moz-transition: background-color 1s linear;    /* FF3.7+ */
	-o-transition: background-color 1s linear;      /* Opera 10.5 */
	-webkit-transition: background-color 1s linear; /* Saf3.2+, Chrome */
}
div.animeblock:hover {
	/*background-color: #f2f2f2;*/
}
.primary {
	width: 100%;
}
#special {
	background: #f4f4f4;
	padding: 20px auto 0;
	text-align: center;
}
#top3 {
	background:url('http://i.imgur.com/6jMtk.jpg') center repeat-y;
	border-bottom: 1px solid #EDE8EA;
}
#leftcol article, 
#rightcol article {
	margin-bottom: 10px;
}
/* error404 */
.error404 #primary {
	float: none;
	margin: 0;
}
.error404 #primary #content {
	margin: 0 20px;
	width: auto;
}

/* Main Columns */
.maincol {
	width: 326px;
	overflow: hidden;
	padding-top: 0px;
	padding-bottom: 0px;
}
.columnbanner {
	background-color: #ce5333;
	color: white;
	height: 20px;
	text-align: center;
	width: 100%;
}
#leftcol {
	width: 301px;
	padding-left: 15px;
	padding-right: 10px;
}
#midcol {	
	border-left: 1px solid #EDE8EA;
	border-right: 1px solid #EDE8EA;
	width: 298px;
	padding-left: 13px;
	padding-right: 13px;
}
#centercol {
	border: 6px solid #EDE8EA;
	text-align: center;
	padding: 15px 0;
}
#rightcol {
	width: 301px;
	padding-left: 10px;
	padding-right: 15px;
}
#mainlist {
	float: left;
	width: 651px; 
	border-right: 1px solid #EDE8EA;
	clear: top;
	overflow: hidden;
}
#single-column-page  #mainlist {
	width: 100%;
	border-right: none;
}
/* Below for gallery */
#gallery {
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #EDE8EA;
	text-align: center;
}
.gallery-box{width:100%;margin:0;}
.gallery-content {height: 175px;}
	.gallery-imglist{float:left;width:858px;height:100%;background-color: #fff; overflow:hidden;position:relative;}
	.gallery-imglist ul{position:absolute;width:2012px;overflow:hidden;margin:0px 0;}
	.gallery-imglist ul li{display:inline;float:left;margin:0px;width:250px;}
	.gallery-imglist a{display:block;float:none;line-height:16px;margin:0;text-align:center;width:250px;}
	.gallery-imglist .img{display:block;height:150px;width:250px;overflow:hidden;}
	.gallery-unit {font-size: 12px; padding: 5px 0 0;}
.gallery-content .button{display:block;float:left;width:60px;height:100%;cursor:pointer;}
/* KM TODO: Hardcoded, change this later! */
.gallery-content .left{background: url("../images/gallery-bl.png") no-repeat center;}
.gallery-content .right{background: url("../images/gallery-br.png") no-repeat center;}


#secondary {
	float: right;
	width: 301px; /* 326-15-10 */
}
.homepage-sidebar {
	padding: 30px 15px 10px 10px;
}
.regular-sidebar {
	padding: 20px 5px 20px 20px;
}


.more-button {
	font-weight: bold;
	text-align: center;
	color: #ce5333;
	background-color: #FAFAFA;
	border: 1px dashed #e0e0e0;
}
.mainlist-button {
	font-size: 25px/150%;
	margin: -15px 15px 30px;
	padding: 10px 0;	
	border-top: 3px double #EDE8EA;
}
a .more-button:hover {
	background-color: #FCEDDE;
}



/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	text-align: center;
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}





/* =Footer
----------------------------------------------- */

#colophon {
	clear: both;
	background-color: #444;
	background: url("../images/denim.png") repeat;
	border-top: 8px solid #CCC5C2;	
}
#supplementary {
	padding: 20px 0;
	width: 978px;	/* 978 - 20*2 = 938 */
	margin: 0 auto;
	overflow: hidden;
}
.footer-wbox {
	width: 306px;
	margin: 0 auto;
	padding: 5px 0 0;
	border-top: 1px solid #CCC5C2;
}

/* Site Generator Line */
#site-generator {
	background: #f9f9f9;
	color: #666;
	font-size: 12px;
	line-height: 1em;
	text-align: center;
}
